<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <a href="/profile">Profile</a>
        <a href="/feed">Feed</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3>Posts</h3>
        <ul class="messages">
          <% for(var i=0; i<posts.length; i++) {%>
            <li class="message">
              
              <%# Image Header %>
              <!-- <% if (posts[i].caption.length == 0) { %>
                <h4>Nothing</h4>
              <% } else { %>
                <h4><%= posts[i].caption %></h4>
              <% } %> -->
              <% if (posts[i].caption.length == 0) { %>
                <h4>Nothing</h4>
              <% } else { %>
                <h4><%= posts[i].caption %></h4>
              <% } %>
              <img src="../<%= posts[i].img %>" alt="">

              <%# Like %>
              <button class="like" data-value="<%=posts[i]._id %>">like</button>
              <span><%= posts[i].like %></span>

              <%# View Comments %>
              <ul>
                <% for(var j=0; j<posts[i].comment.length; j++) {%>
                  <li>
                    <p> <%= posts[i].comment[j].comment %> </p> 
                  </li>
                <% } %>
              </ul>>
              


              <%# Post Comment %>
              <input class="userComment" type="text" placeholder="write a comment...">
              <button type="submit" class="sendComment" data-value="<%=posts[i]._id %>">post</button>

            </li>
          <% } %>
        </ul>
      </div>
    </div>

</div>

<script src="/main.js"></script>

</body>
</html>
